<!--facility/templates/faculty/show.html-->
{% extends 'base/show.html' %}
{% load my_filters %}
{% load static %}
{% load render_table from django_tables2 %}

{% block stylesheets_local %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
{% endblock stylesheets_local %}

{% block title_text %}{{ faculty.name | title }}{% endblock title_text %}

{% block object_identifier %}{% endblock object_identifier %}

{% block object_details %}{{ faculty.facultyprofile_profile.facility.organization.get_root_organization | title }}{% endblock object_details %}