<!-- facility/manage.html -->
{% extends 'base/manage.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load my_filters %}

{% block title_text_focus %}{{ facility.name|default:"Facility" }}{% endblock %}

{% block cards %}
<div id="manage">
    {{ block.super }}
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom:16px;">
        <h2 style="width:100%;">Facility Overview
        <span class="text-muted justify-content-end">{% if facility_edit_url %}
            <a class="btn btn-outline-primary" href="{{ facility_edit_url }}">
                <i class="fas fa-edit"></i> Edit Facility
            </a>
        {% endif %}</span>
    </h2>
    </div>


    {% for item in tables_with_names %}
    <section class="card">
        <h2> {{ item.name_plural|default:item.name|title }} 
            <a href="{{ item.create_url }}">
            {% if item.icon %}
                <i class="fas {{ item.icon }}"></i>
            {% else %}
                <i class="fas fa-plus"></i>
            {% endif %}
            </a>
        </h2>
        {% render_table item.table %}
    </section>
    {% endfor %}
</div>
{% endblock cards %}
